.program_all {
	color: #666;
	font-family: trebuchet, sans-serif;
}

.program {
    font-size: x-small;
    text-align: center;
    background-color: aliceblue;
}

.program td {
	max-width: 280px;
    vertical-align: top;
    padding: 0 0.5em 0.5em 0.5em;
    margin: 0;
}

.plenary {
    text-align: center;
}

.keynote {
    font-weight: bold;
}

.sponsor {
}

a:link {
	text-decoration: none;
}

.session_title {
    display: block;
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.rounded {
	border-radius: 8px;
    border: 2px solid aliceblue;
}

.th_unselected {
    background-color: #EBF4FC;
}

.th_decouverte {
    background-color: #D0F56C;
}

.th_management {
    background-color: #FAF687;
}

.th_technique {
    background-color: #F5C55D;
}

.th_coaching {
    background-color: #C2D7FF;
}

.th_portfolio {
    background-color: pink;}

.th_kanban {
    background-color: #E3B6B6;
}

.session_speakers {
    font-style: italic;
}

.room_desc {
    font-weight: bold;
    background-color: lavender;
}

.hour {
    font-weight: bold;
}

#program_detail {
	width: 960px;
    margin: auto;
}

#program_detail .speaker {
    width: 800px;
    margin: auto
}

#program_detail .speaker_name {
    font-weight: bold;
}

#program_detail h2 {
    display: inline;
}

#program_detail .back_to_top {
    font-size: xx-small;
}

#program_detail .slides {
    font-size: small;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

#personasLegend
{
    text-decoration: underline;
	color: #4A5370;
	background: transparent;
}

ul#personasToolbar li {
    display: inline-block;
    padding-right:10px;
    float:left;	
    color: #4A5370;
    border-radius: 8px;
    border: 1px solid #CED1DB;
    cursor: pointer;
}

ul#personasToolbar li.graycolor {
    color: #CED1DB;
}

ul#personasToolbar li label {
    vertical-align: middle;
    cursor: pointer;
}

ul#personasToolbar li img {
    vertical-align: middle;
    cursor: pointer;
}
