.program_all {
	color: #666;
	font-family: trebuchet, sans-serif;
}

.program {
    font-size: x-small;
    text-align: center;
    background-color: aliceblue;
/*     border: 1px solid grey; */
/*     border-bottom: none; */
/*     border-right: none; */
}

.program td {
    vertical-align: top;
/*     border-bottom: 1px solid grey; */
    border: 2px solid aliceblue;
/*     border-bottom: 2px solid aliceblue; */
/*     border-bottom: 2px solid aliceblue; */
/*     border-right: 2px solid aliceblue; */
/*     border-right: 1px solid grey; */
    padding: 0 0.5em 0.5em 0.5em;
    margin: 0;
}

.plenary {
    text-align: center;
    background-color: aliceblue;

}


.keynote {
    background-color: aliceblue;

    font-weight: bold;
}

.sponsor {
    background-color: aliceblue;

}

a:link {
	text-decoration: none;
}
.session_title {
    display: block;
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.rounded {
	border-radius: 8px;
}

.th_green {
	background-color: GreenYellow;
}

.th_yellow {
	background-color: yellow;
}

.th_orange {
    background-color: gold;
/* 	background-color: orange; */
}

.th_blue {
	background-color: LightSkyBlue;
}

.th_pink {
    background-color: pink;
/* 	background-color: fuchsia; */
}

.th_red {
	background-color: Tomato;
}
.session_speakers {
    font-style: italic;
}

.room_desc {
    font-weight: bold;
    background-color: lavender;
}

.hour {
    font-weight: bold;
}

#program_detail {
	width: 960px;
    margin: auto;
}

#program_detail .speaker {
    width: 800px;
    margin: auto
}

#program_detail .speaker_name {
    font-weight: bold;
}

#program_detail h2 {
    display: inline;
}

#program_detail .back_to_top {
    font-size: xx-small;
}

#program_detail .slides {
    font-size: small;
}