<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Administration de sessions</title>
</head>
<body>
  <div>
  <h3>API</h3>
  Site agile-grenoble.org
  <li><a href="/jsonp/beta/program-summary-with-roomlist?callback=callback_for_current_sessions">json : list of slots </a> (slot = list of sessions, session = map with keys, title, slot, room, ...)</li>

  <li><a href="/jsonp/beta/session/2?callback=callback_for_current_sessions">
    details of a given session</a></li>
  
  </div>
</body>
</html>