<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Program</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
       <!-- <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap..min.css" /> -->
        <link rel="stylesheet" type="text/css" href="/program.css" />
    </head>
    <body>
        <h1><a id="program_head">Progamme</a></h1>
        <table cellpadding="0" cellspacing="0" class="program">
            <tbody id="program_content">
            </tbody>
        </table>
        <h1>Programme détailé</h1>
        <div id="program_detail"></div>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> -->
        <script src="/jquery.min.js"></script>
        <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
        <script src="/show_program.js"></script>
    </body>
</html>
